<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vue组件自定义过渡的类名</title>
    <style>
    .component-fade-enter-active, .component-fade-leave-active {
      transition: opacity .3s ease;
    }
    .component-fade-enter, .component-fade-leave-to {
      opacity: 0;
    }
    </style>
  </head>

  <body>
    <div id="transition-components-demo" class="demo">
      <input v-model="view" type="radio" value="v-a" id="a" name="view"><label for="a">A</label>
      <input v-model="view" type="radio" value="v-b" id="b" name="view"><label for="b">B</label>
      <transition name="component-fade" mode="out-in">
        <component v-bind:is="view"></component>
      </transition>
    </div>
  </body>
  <script src="js/vue.js"></script>
  <script>
    var app = new Vue({
    el: '#transition-components-demo',
    data: {
      view: 'v-a'
    },
    components: {
      'v-a': {
        template: '<div>Component A</div>'
      },
      'v-b': {
        template: '<div>Component B</div>'
      }
    }
  })
  </script>
</html>
